ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #33333300;
  padding: 20px;
}

li {
  float: left;
  padding-right: 20px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f45b02a9;
  border-radius: 15rem;
}

.active {
  background-color: #e26600;
  border-radius: 15rem;
}

nav {
  margin: 20px;
}

.body {
  display: inline-flex;
}

.myimage {
  position: fixed;
  bottom: 5px;
}

p {
  font-size: 24px;
  color: #5e00e2;
}

h2 {
  color: #350080;
}

.texts {
  position: fixed;
  right: 5px;
  direction: rtl;
  margin-right: 40px;
  margin-top: 100px;
}

button {
  width: 300px;
  background-color: #ffffff;
  border-radius: 15rem;
  border: 1px solid #e26600;
  padding: 10px;
  margin: 10px;
  color: #5e00e2;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}
