ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #33333300;
  padding: 20px;
}

li {
  float: left;
  padding-right: 20px;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #f45b02a9;
  border-radius: 15rem;
}

.active {
  background-color: #e26600;
  border-radius: 15rem;
}

nav {
  margin: 20px;
}
